/* - - - - - - - - - - - - - - -
CSS principal
Desarrollado por: Upgrade Diseño Interactivo
Para: Alfa
Fecha: Marzo 2024
Ultima modificación por: Saúl Rodríguez
Fecha: Marzo 2024
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */


/*---------------------------- GENERAL---------------------------- */


@font-face {
    font-family: 'archivo_semiexpanded';
    src: url('../../_fonts/archivo_semiexpanded_extralight-webfont.woff2') format('woff2'),
         url('../../_fonts/archivo_semiexpanded_extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archivo_black';
    src: url('../../_fonts/archivoblack-regular-webfont.woff2') format('woff2'),
         url('../../_fonts/archivoblack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montserrat';
    src: url('../../_fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
a{ text-decoration: none;}

body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    background-color: #EFEDDA;
}

header {
    position: relative; /* Agrega esta propiedad */
    background-image: url(../../_images/ImagenP.jpg);
    background-color: rgba(21, 74, 144, 0.828); /* Este es el color que quieres poner encima de la imagen */; /* This is the color that will be placed on top of the image */
    background-blend-mode: multiply;
    flex-direction: column;
    width: 100%;
    height:  500px;
    padding: 3% 0px 4% 0px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    font-family: 'archivo_black';
    background-color: transparent;
    justify-content: space-around;
    text-align: center;
    z-index: 1;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 30px;
    border: 2px solid #fff;
    box-sizing: border-box;
    transition: background-color 0.5s ease;

}

.bg_center_cover{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

nav a:hover {
    background-color: #F16430;
    color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border: 2px solid #F16430;
}

.header-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 0 auto; 
}


.header-content h1{
    color: #fff;
    display: block;
    width: 100%;
    font-family: 'archivo_black';
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 10px;
    margin: 50px 0;
}
#icon-wp{
    position: fixed;
    bottom: 20px;
    z-index: 1;
    right: 20px;
}
#icon-wp img{ width: 52px;}
#logo{
    background-image: url(../../_images/ALFAlogo.svg);
    display: block;
    width: 300px;
    height: auto;
    margin-left: 100px;
   
}
    #logo span{ padding-top: 32.5%; display: block; }

.FIRST-container{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
    height: 100%;
}

#imagen-container{
    display: flex;
    background-image: url(../../_images/MujerCarro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 500px;
}

#bloc{
    background-color: #F16430;
    width: 50%;
    height: 500px;
    text-align: left;
    padding: 0 80px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TitulosG{
    color: #fff;
    font-size: 128px;
    margin: 0;
    font-family: 'archivo_black';
}

#TextoS{
    color: #fff;
    font-size: 2em;
    font-family: 'montserrat', sans-serif;
}

.myButton{
    width: fit-content;
    background-color: #284259;
    border-radius: 90px;
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'archivo_black';
    margin-top: 33px;
    border-style: none;
    padding: 10px 55px;
    text-transform: uppercase;
    transition: all .5s;
}

.myButton:hover{
    transform: scale(1.1);
}

.BlueBloc{
    background-color: #284259;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#TituloG2{
    color: #F16430;
    font-family: 'archivo_black';
    font-size: 2.5em;
    margin: 30px auto;
    text-transform: uppercase;
    letter-spacing: 6px;
}

#TextoXS{
    color: #FFFFFF;
    font-size: 1.1em;
    text-align: center;
    width: 60%;
    margin: 0 auto 30px;
}

.sec-cards{
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#BlueTxt{
    color: #284259;
    font-family: 'archivo_black';
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin: 0;
}

#NegroTxt{
    font-size: 1.2em;
    text-align: center;
}

#SECOND-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
    gap: 5%;
}

/* ----- cards -----  */
.card-inner {
    width:auto;
    height: 100%;
    position: relative;
    perspective: 1000px;
    border: 3px solid transparent;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.8s;

    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front {
    background-color: #F16430;
    border: 3px solid #284259;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    color: #284259;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateY(180deg);
}

.card-back h2{
    font-size: 1em;
    text-align: center;
    width: 80%;
    font-family: 'archivo_black';
}


.OrangBloc {
    display: inline-block;
    margin: 10px;
    width: 25%;
    height: 400px;
}

.OrangBloc .Logos {
    width: 50px;
}

.OrangBloc .card-inner:hover .card-front {
    transform: rotateY(-180deg);
}

.OrangBloc .card-inner:hover .card-back {
    transform: rotateY(0deg);
}

/* --------------------------- */

main {
    padding: 20px;
}

footer {
    background-color: #F16430;
    color: #fff;
    padding: 30px 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#MiniAzul{
    color: #284259;
    font-size: 1.2em;
    font-weight: 900;
}

#CompilacionLogos{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 30px;
    margin: 30px auto;
    transform: scale(1.1);
}

#LinksPag{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'archivo_black';
    gap: 5%;
    font-size: 1.1em;
}
#LinksPag a{
    color: #FFFFFF;
}
#LinksPag a:hover,
#Links a:hover{
    color: #284259;
}

#Links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

#Links a{
    font-family: 'archivo_black';
    font-size: 1.1em;
    color: #ffffff;
}


#Ref{
    display: flex;
    border-top: 1px solid #ffffff;
    padding: 17px 10%;
    font-size: 1.1em;
    justify-content: space-between;
}

.Logos{
    width: 50px;
}

.Txtbloc{
    text-align: center;
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'archivo_black';
    width: 80%;
}

#circulito{
    position: absolute;
    bottom: 0;
}
#blueBloc2{
    flex-direction: row;
}

#text-car{
    width: 45%;
    height: 350px;
    display: flex;
    align-items: center;
}

#img-car{
    width: 55%;
    height: 350px;
    z-index: 1;
    position: relative;
}


#Real{
    position: absolute;
    bottom: -25%;
    z-index: 2;
    right: 5%;
}

#TxtCirc{
    transform: translate(10px, 10px);
    position: relative;
    z-index: 1;
    font-family: 'archivo_black';
    color: #FFFFFF;
    width: 70%;
    font-size: 1.2em;
}

#THIRD-container{
    padding: 120px 0 80px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.CircularBloc{
    width: 311px;
    height: 311px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 3px solid #284259;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all .3s;
}

.CircularBloc:hover{
    border: 3px solid #F16435;
}
.CircularBloc:hover .TxtOrg{
    transform: scale(1.1);
}

.TxtOrg{
    color: #F16430;
    font-family: 'montserrat';
    font-size: 1.5em;
    transition: all .3s;

}

.SubTxt{
    color: #284259;
    font-family: 'archivo_black';
    font-size: 1.2em;
    text-align: center;
    width: 80%;
}

.FlexText {
    display: flex;
    width: fit-content;
    color: #284259;
    flex-direction: column;
    font-family: 'archivo_black';
    font-size: 1.2em;
}

.word::first-letter {
    color: #F16430;
}

/* Contacto.php */

#formulario{
    background-color: #FFFFFF;
    width: 70%;
    height: auto;
    margin: 80px auto;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}

#MiniBlocBlue{
    width: 40%;
    border-radius: 12px;
    background-color: #284259;
    padding: 25px 0px;
    position: relative;
    border: 2px solid #F16430;
}

#OrgTitle{
    font-family: 'archivo_black';
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #F16430;
    text-align: center;
}

#NewLogos{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#NewLogos a,
#NewLogos p{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'archivo_black';
    color: #ffffff;
    font-size: 1em;
}

#Mapa{
    width: 80%;
   margin: auto;
}

.net-ct{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}

#CompilacionLogosNaranjas{
    display:flex;
    align-items: baseline;
    gap: 20px;
}

.form-container{
    width: 60%;
    display: flex;
    justify-content: center;
}
#form-contact{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
#message_container{
    display: flex;
    align-items: center;
}
#message_container p{
    display: block;
    font-size: 2em;
    text-align: center;
    height: 100px;
}

.form{
    color: #284259;
    font-family: 'montserrat';
    font-size: 1em;
}

.align-input{
    display: flex;
    gap: 25px;
}
.ct-input{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Rellenar{
    font-size: 1em;
    padding: 8px 0;
    border-style: none;
    border-bottom: 1px solid #F16430;
}

.Rellenar:focus,
#message:focus
{ outline: none;}

#message{
    border-style: none;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #F16430;
}

#enter{
    border-style: none;
    border: 2px solid #F16430;
    background-color: #284259;
    color: #F16430;
    width: 101%;
    border-radius: 5px;
    font-family: 'archivo_black';
    font-size: 1em;
    padding: 10px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
    margin: 30px 0 0;
    transition: all .3s;
}
#enter:hover{
    background-color: #F16430;
    color: #284259;
}

/* input:focus { border-bottom: 2px solid #F16430; }
textarea:focus { border-bottom: 2px solid #F16430; } */


input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0
}
    input[type=number] {
        -moz-appearance:textfield;
}

/** AVISO DE PRIVACIDAD / TERMINOS Y CONDICIONES **/

.sec-txt {
    width: 100%;
    height: auto;
    font-family: 'montserrat';
    color: #284259;
    padding: 30px 0 90px;
}

.align-txt p,
.align-txt ul,
.align-txt ol {
    width: 90%;
    margin: 10px auto;
    font-size: 1.2em;
}

.align-txt h1 {
    width: fit-content;
    margin: 45px auto;
    font-family: 'archivo_black';
    font-weight: 700;
    color: #284259;
    font-size: 3em;
}

.align-txt h6 {
    width: 90%;
    margin: auto;
    font-family: 'archivo_black';
    font-weight: 400;
    color: #284259;
    font-size: 1.5em;
    margin-bottom: 0px;
}

.align-txt a {
    font-family: 'montserrat';
    color: #F16430;
    text-decoration: underline;
}


